ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_SECRET=
DATABASE_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_GENERATIVE_AI_API_KEY=
GOOGLE_MODEL=
LM_STUDIO_BASE_URL=
NEXT_PUBLIC_APP_URL=
OLLAMA_BASE_URL=
OPENAI_API_KEY=
OPENAI_MODEL=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=